.default-input {
  border-radius: var(--b-rad);
  height: 5vh;
  outline: none;
  border: solid 1px #c5c6c9;
  padding-left: 1rem;

  &:focus {
    border: solid 1px #21cf3e;
  }
}


.button-add {
  padding: 1rem 2rem;
  background: #25514a;
  color: white;
  border-radius: .5rem;
  border: none;
  margin-top: var(--margin);
  margin-right: var(--margin);
  outline: none;
}

.button-delete {
  background: #91261e;
}

.form {
  padding: var(--padding);
  border-radius: var(--b-rad);
  border: solid 1px #c5c6c9;
  background-color: white;
}
